<div class="container">
  <h1>Hello {{ user.nickname }}</h1>
  <p>Here you can update your profile.</p>
  <p *ngIf="isFailed" class="alert alert-danger" role="alert">{{ failedMessage }}</p>
  <p *ngIf="isSuccess" class="alert alert-success" role="alert">{{ successMessage }}</p>
  <form [formGroup]="updateUserForm" (ngSubmit)="onSubmit()">
    <div class="form-group mb-4">
      <label for="nickname">Nickname *</label>
      <input type="text" formControlName="nickname" class="form-control" id="nickname" [value]="user.nickname">
    </div>
    <div class="form-group mb-4">
      <label for="email">Email *</label>
      <input type="email" formControlName="email" class="form-control" id="email" [value]="user.email">
    </div>
    <div class="form-group mb-4">
      <label for="address">Address</label>
      <input type="text" formControlName="address" class="form-control" id="address" [value]="user.address">
    </div>
    <div class="form-group mb-4">
      <label for="description">Description</label>
      <textarea formControlName="description" class="form-control" id="description">{{ user.description }}</textarea>
    </div>
    <div class="form-group mb-4">
      <label for="picture">Picture (link from your avatar)</label>
      <input type="text" formControlName="picture" class="form-control" id="picture" [value]="user.picture">
    </div>
    <div class="form-group mb-4">
      <label for="password">Password *</label>
      <input type="password" formControlName="password" class="form-control" id="password" placeholder="*******">
    </div>
    <div class="form-group mb-4">
      <label for="password_confirmation">Password confirmation *</label>
      <input type="password" formControlName="password_confirmation" class="form-control" id="password_confirmation" placeholder="*******">
    </div>
    <button type="submit" class="btn btn-primary mb-4">Update</button>
  </form>
</div>
