<footer id="footer" class="container-fluid">
  <div id="socialLinksDiv" class="row">
    <div class='col-lg-6'>
      <ul>
        <li><i class="bi bi-facebook"><a href="https://www.facebook.com/"> Facebook</a></i></li>
        <li><i class="bi bi-instagram"><a href="https://www.instagram.com/"> Instagram</a></i><li>
        <li><i class="bi bi-youtube"><a href="https://www.youtube.com/"> Youtube</a></i></li>
      </ul>
    </div>

    <div class='col-lg-6'>
      <ul>
        <li><a href="#"> Carrière</a></li>
        <li><a href="#"> Presse</a></li>
        <li><a href="#"> Confidentialité</a><li>
      </ul>
    </div>
  </div>
  <p>Copyright 2021 © Tender France - Tous droits réservés</p>
</footer>

