#footer
{
  margin-top: 0.5vw;
  padding: 1em;
  background-color: #f0ffff;
  text-align: center;
  font-size: 1em;
}

ul
{
  list-style: none;
  margin-left: 2vw;
  text-align: center;
}

ul a
{
  color:black;
  text-decoration: none;

}

#socialLinksDiv
{
  justify-content: center;
}

