<section id="PageConfidentialité">
<h1>Politique de confidentialité</h1><br>

<div>
  <h3>Conservation et utilisation de vos données personnelles</h3><br>
  <p>Les informations recueillies sur ce formulaire sont enregistrées dans un fichier informatisé, par l’entreprise, pour communiquer les informations liées à l’entreprise et aux services proposés.
    Elles sont conservées pendant 10 ans et sont destinées au service marketing et au service commercial établis au sein de l’Union européenne.
    Les informations personnelles (prénom, nom, numéro de téléphone, e-mail) recueillies via les formulaires de contact font l’objet d’un traitement informatique destiné seulement à ce que les responsables du traitement, en l’occurrence la direction, les collaborateurs de service commercial et marketing, puissent répondre aux utilisateurs de la manière la plus appropriée.
    Ces informations personnelles ne seront jamais utilisées à des fins non prévues ni transmises à des partenaires. Aucune information personnelle autre que celles demandées dans ce cadre n’est collectée à votre insu.</p>
</div><br>


<div>
  <h3>Consentement et Traitement de vos données personnelles</h3>
  <p>En cochant la case de consentement obligatoire avant soumission de chaque formulaire de ce site (« En poursuivant votre navigation, vous autorisez l'utilisation de cookies à des fins analytiques et d'amélioration fonctionnelle »), vous autorisez explicitement le stockage et le traitement de vos données dans le but de vous faire connaître nos services.<br>
    Vous autorisez :<br>
    - Un conseiller de l’entreprise à vous contacter pour toute relation commerciale.<br>
    - Le service Marketing de l’entreprise à vous communiquer des informations personnalisées sur nos services.</p>
</div><br>


<div>
  <h3>Retrait du Consentement concernant vos données personnelles</h3>
  <p>Droit d’accès à vos données personnelles – Portabilité :<br>
    Vous disposez d’un droit d’accès, de modification et/ou de suppression des données vous concernant à tout moment en contactant notre service informatique :<br>
    • Par écrit, en adressant un courrier postal à : Tender, 1 rue crébillon - 44000 NANTES - FRANCE, accompagné d’une copie d’une pièce d’identité. Idéalement, en recommandé avec accusé de réception.<br>
    • Sur place dans nos locaux : avec présentation d’une pièce d’identité. Il est possible de se faire accompagner par la personne de son choix. La consultation doit durer suffisamment longtemps pour prendre note commodément et complètement. Il est possible de demander une copie des données ».<br>
    Le responsable du fichier dispose d’un délai de réponse maximal de 2 mois à compter de la demande, qu’elle ait été exercée par voie postale ou sur place. La CNIL précise : « Si la demande est incomplète (absence de la pièce d’identité par exemple), le responsable du fichier est en droit de demander des compléments : le délai est alors suspendu et courre à nouveau une fois ces éléments fournis ».
    Les limites au droit d’accès sont précisées sur le site de la CNIL à l’adresse https://www.cnil.fr/fr/respecter-les-droits-des-personnes</p>
</div><br>



<div>
  <h3>Modification de vos abonnements</h3>
  <p>Vous pouvez aussi modifier librement vos abonnements à nos communications en cliquant sur « Modifier mes préférences » en bas de chacune de nos communications envoyées par e-mail.
    Pour vous désabonner de toutes les communications de l’entreprise, vous devez cliquer sur le lien de désabonnement qui se situe en bas de nos e-mails. Vous pourrez ensuite choisir :<br>
    – de modifier vos préférences de réception de nos communications.<br>
    – de vous désabonner de toutes les communications marketing et commerciales jusqu’à nouvelle soumission de votre consentement sur le site internet.</p>
</div><br>



<div>
  <h3>Modification de notre politique de confidentialité</h3>
  <p>Notre politique de confidentialité peut être amenée à être modifiée à tout moment. Nous vous conseillons ainsi de consulter cette page régulièrement afin de prendre connaissance des éventuelles modifications ou mises à jour.</p>
</div>
</section>
