<section id="page-about" class="container-fluid">
  <div class="row">

    <h1>About Tender</h1>
      <h3>The Context</h3>
        <p>Tender is a website project made by few students from the school of Epitech.</p>
      <h3>The Concept</h3>
        <p>Tender is a plateform about cooking. If you are a cook you can give your extra-dishes by creating an ad on our website.
        If you are an eater you can choose a dish on the website and make it delivering at your address or go on yourself and get it.
        Our goal is to make sure that food in not wasted and to make other people discover new flavors.
        To avoid abuses the plateform works with a system of points, you gain points when you make dishes and you loose points when you take a dish.</p>

  </div>

</section>
